<select name="Menu" multiple="multiple">
  <option>MealSlot1</option>
  <option selected="selected">MealSlot2</option>
  <option>MealSlot3</option>
 


<form>
	<div class="form-cookGroup">
        <label>Meal Name: </label>
        <input type="text" ng-model="cookMealName"  tooltip-trigger="focus"/>
      </div>

       <div class="form-cookGroup">
        <label>Max Servings: </label>
        <input type="text" ng-model="cookServings"  tooltip-trigger="focus"/>
      </div>

      <div class="form-cookGroup">
        <label>Price per Serving: </label>
        <input type="text" ng-model="cookServings"  tooltip-trigger="focus"/>
      </div>

      <div class="form-cookGroup">
        <label>Picture: </label>
        <input type="text" ng-model="cookMealImage"  tooltip-trigger="focus"/>
      </div>
	
 <!-- modal content for multiple string line input? -->
      <div class="form-cookGroup">
        <label>Ingreidents: </label>
        <input type="text" ng-model="cookMealIngredients"  tooltip-trigger="focus"/>
      </div>

      <div class="form-cookGroup">
        <label>Cusine: </label>
        <input type="text" ng-model="cookMealCuisines"  tooltip-trigger="focus"/>

</form>