<div id="menuContainer">
	<div class="dishContainer">
		<div class="row">
			<div class="col-xs-4 col-md-4">
				<h3>{{chef.menu.dish1.displayName}}</h3>
			</div>
			<div class="col-xs-4 col-md-4">
				<h3>{{chef.menu.dish2.displayName}}</h3>
			</div>
			<div class="col-xs-4 col-md-4">
				<h3>{{chef.menu.dish3.displayName}}</h3>
			</div>
		</div>
		<br>
		<div class="row btn-group">
			<div class="col-xs-4 col-md-4">
				<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Option 1'"><img ng-src="{{chef.menu.dish1.picture}}" alt="Dish 1" class="dishPics"></label>
			</div>
			<div class="col-xs-4 col-md-4">
				<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Option 2'"><img ng-src="{{chef.menu.dish2.picture}}" alt="Dish 1" class="dishPics"></label>
			</div>
			<div class="col-xs-4 col-md-4">
				<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Option 3'"><img ng-src="{{chef.menu.dish3.picture}}" alt="Dish 1" class="dishPics"></label>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-4 col-md-4">
				Servings: <input ng-model="Servings1" type="number">
			</div>
			<div class="col-xs-4 col-md-4">
				Servings: <input ng-model="Servings2" type="number">
			</div>
			<div class="col-xs-4 col-md-4">
				Servings: <input ng-model="Servings3" type="number">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-4 col-md-4">
				{{chef.menu.dish1.displayName}}
			</div>
			<div class="col-xs-4 col-md-4">
				{{chef.menu.dish2.displayName}}
			</div>
			<div class="col-xs-4 col-md-4">
				{{chef.menu.dish3.displayName}}
			</div>
		</div>		
	</div>
</div>
<br>

  <p>Date: <input type="text" id="datepicker"></p>


<form action="#/checkout">
	<input id = "menuSubmitButton" type = 'submit' value = 'Checkout' ng-click='submitter()'/>
</form>

